body {
  background-color: rgb(230, 255, 255);
}

canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 50px;
}

* {
  padding: 0;
  margin: 0 auto;
}

h1 {
  padding: 20px;
  background-color: plum;
  text-align: center;
  font-family: arcadeclassic, sans-serif;
  font-style: normal;
}
